<h1>An error occured</h1>
<div mat-dialog-content>
    <p class="mat-body-1">{{ data.message }}</p>
</div>
<div mat-dialog-actions>
    <button style="background-color: rgb(76, 102, 175);
    border: none;
    color: white;
    padding: 10px 15px 7px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 6px;
    box-shadow: 1px 2px 2px #777;
    cursor: pointer;" (click)=" onNoClick()">Ok</button>
</div>
