
mat-form-field,
textarea {
    width: 100%;
}

input[type="file"]{
    visibility: hidden;
}

.image-preview {
    height: 8rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
    display: block;
    margin: auto;

}
